{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      <div class="content-section">
        <form class="" action="" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-button mb-4">Reset Password</legend>
            {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Request Password Reset</button>
          </div>
        </form>
      </div>
{% endblock content %}
